
.focusItem .portfolioImg{
    height: 400px;
    width: 400px;
}

.focusText{
    display:inline-block;
    width: 45%;
    height: 400px;
    float:right;
}

.focusItem .portfolioImg,
.focusItem .focusText {
    display: inline-block;
    text-align:left;
}

.focusItem{
    text-align:center;
}

.focusText .description{
    font-size:1.7rem;
}

.portfolioGithub img{
    height: 50px;
    width: 50px;
}

.links{
    height: 60px;
    width:200px;
    margin:10px auto;
}

.links a{
    margin: 0 30px;
    text-decoration: none;
}

#title{
    margin-bottom: 20px;
}

@media screen and (max-width:993px) {
    .focusItem .portfolioImg,
    div.focusText{
        width:300px;
        height:300px;
    }

    .focusText .description{
        font-size: 1.2rem;
    }
}